<div class="container">

	<div class="login-container">
		<h3>Sign Up Here</h3>
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="/sign_up" method="POST">
									<input name="first_name" type="text" placeholder="First Name">
									<input name="last_name" type="text" placeholder="Last Name">
                  <input name="email" type="text" placeholder="email">
                  <input type="password" name="password" placeholder="password">
									<input name="city" type="text" placeholder="city">
									<input name="state" type="text" placeholder="state">
									<input name="country" type="text" placeholder="country">
									<input name="handle" type="text" placeholder="handle">
									<input type="submit" value="Submit">
								</form>
            </div>
        </div>

</div>
