<div class="container">
	<form action="<%= "/users/#{@user.id}/new_tweet" %>" method="post">
	<textarea name="body" placeholder="chirp away!"></textarea>
	<input type="submit" value="chirp!">
	</form>
</div>